@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

button:hover {
    box-shadow: black;
    cursor: pointer;
}

/* ---------------------------------------------------------------------------- */

h1 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

button {
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 3fr;
}



.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: rgb(125, 180, 225);
    display: grid;
}

.sidebar div {
    margin-top: 10%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.sidebar li {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

/* -------------- */

/* .bar {
    background-color: rgb(240, 73, 73);
    width: 60%;
    height: 3%;
    border-radius: 40%;
} */

.search {
    background-color: rgb(114, 137, 156);
    border-radius: 28px;
    margin-left: 5px;
    width:  clamp(10rem, 10rem + 15vw, 35rem)
}

.search-bar {
    display: flex;
}

.next-search {
    display: flex;
    align-items: center;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: rgb(250, 251, 252);
}

.barra {
    display: flex;
    margin-top: 20px;
    margin-left: 1rem;
    margin-bottom: 2rem;
    justify-content:space-between;
    margin-right: 1rem;
}

.personal {
    display: flex;
    margin-left: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.finn_image {
    border-radius: 50%;
    margin-right: 1rem;
}

.names {
    display: flex;
    align-items: center;
}

.btn-up {
    background-color: rgb(125, 180, 225);
    border-radius: 40%;
    width: 3remm;
    height: 2rem;
    margin-top: 1rem;
}

.btn-fin {background-color: rgb(250, 251, 252)

}
/* -------------- */

.main {
    background-color: rgb(221, 218, 249);
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.article {
    margin-top: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.art {
    background-color: rgb(250, 251, 252);
    border-left: 0.25rem solid rgb(125, 180, 225);
    margin: 7px;
    border-radius: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.botones {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.btn {
    background-color: rgb(249, 251, 253);
}

/* ------------------- */

.announcement {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0.5rem;
}

.announcements {
    background-color: rgb(250, 251, 252);
    margin: 0.5rem;
    border-radius: 20px;
    padding: 20px;
}

.anun {
    margin: 3px;
}

/* ------------------- */

.tendring {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0.5rem;
}

.tendrings {
    background-color: rgb(250, 251, 252);
    border-radius: 20px;
    padding: 20px;
    margin: 0.5rem;
}

.Trend {
    display: flex;
}